<h1>Enter the amount of change</h1>
<form class="" action="/coin_form" method="post">
  <div class="form-group">
    <input type="number" name="name" value="">
    <button type="submit" name="button">Click</button>
  </div>


</form>
